<section id="about" class="scroll-my-36">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-black sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-black">We like to create memories</h2>
            <p class="mb-4">
                Happy Clicks Photo Booth is not just a photo booth service; it's an experience that adds a vibrant and
                unforgettable touch to any event. Our DSLR photo quality capture moments of joy, laughter and
                celebration. Whether it's a wedding, birthday party, corporate event, or any special occasion, Happy
                Clicks Photo Booth brings a blend of entertainment and creativity to your guests.
            </p>
            <p>
                With customizable backgrounds, fun props, and instant prints, we ensure that every photo is a cherished
                memory. Our friendly and professional staff is dedicated to making your event extraordinary, leaving you
                with a collection of priceless memories that will be cherished for years to come.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img
                class="w-full rounded-lg hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100"
                src="/gallery/13.jpeg"
                alt=""
            />
            <img
                class="mt-4 w-full lg:mt-10 rounded-lg hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100"
                src="/gallery/14.jpeg"
                alt=""
            />
        </div>
    </div>
</section>
