<section id="contact">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-black">Contact Us</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-black sm:text-xl">
            Fill out all your event details below and we will reach out to you as soon as possible!
        </p>
        <form action="#" class="space-y-8">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-black">Your email</label>
                <input
                    type="email"
                    id="email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="info@hcphotobooth.com"
                    required
                />
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-black">Type of event</label>
                <input
                    type="text"
                    id="type-event"
                    class="block p-3 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Let us know about your event"
                    required
                />
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-black">Add details</label>
                <textarea
                    id="message"
                    rows="6"
                    class="block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Add details (name, number of guests, location and date)"></textarea>
            </div>
            <button
                type="submit"
                class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit"
                >Send message</button
            >
        </form>
    </div>
</section>
