<section>
    <div class="mx-auto max-w-screen-xl">
        <div class="lg:py-14 lg:px-20 p-10 rounded-2xl bg-[url('/bg.png')] bg-cover">
            <h2 class="font-manrope text-4xl text-white font-semibold mb-5 lg:mb-2">Don't miss out on the fun!</h2>
            <div class="mt-2"></div>
        </div>
    </div>
</section>
