<section>
  <div class="mx-auto max-w-screen-xl">
    <div class="lg:py-14 lg:px-20 p-10 rounded-2xl bg-[url('../../public/bg.png')] bg-cover">
      <h2 class="font-manrope text-4xl text-white font-semibold mb-5 lg:mb-2">Don't miss out on the fun!</h2>
      <p class="text-xl text-gray-700">Subscribe to our website to stay updated on exclusive offers, exciting new features, and special events. <br> Don't miss out on the fun - join our community today!</p>
      <div class="mt-2">
        <input type="text" class="min-w-0 w-[35%] flex-auto rounded-md border-0 bg-white px-5 py-2.5  text-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent" placeholder="Don't miss anything from us...">
        <a class="border hover:border-gray-600 text-xl flex-row justify-center text-white cursor-pointer hover:bg-gray-600 focus:ring-4 focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center mr-4 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100" href="/contact">Submit</a>
      </div>
    </div>
  </div>
</section>