<section class="bg-white scroll-my-36" id="prices">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-black">
                Step into a world of FUN with our <br /> Photo Booth experience!
            </h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl">
                All of our packages include DSLR quality images, backdrop of choice, personalize fun props, set up and
                break down
            </p>
        </div>
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-[url('/bg-2.png')] bg-cover rounded-lg border shadow xl:p-8"
            >
                <h3 class="mb-4 text-4xl font-semibold text-black">Basic Clicks</h3>
                <div class="flex justify-center items-baseline mt-2 mb-6">
                    <span class="mr-2 text-5xl font-extrabold">$499.99</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Up to 3 hr Rental</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Unlimited Digital Captures <br />(Receive by SMS)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Personalize Photo Template</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Customized "Tap to Start" Screen</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Booth attendant</span>
                    </li>
                </ul>
                <a
                    href="#contact"
                    class="text-white cursor-pointer bg-black focus:ring-4 focus:outline-none text-lg rounded-lg px-5 py-2.5 text-center hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100"
                    >Contact here</a
                >
            </div>
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-[url('/bg-2.png')] bg-cover rounded-lg border shadow xl:p-8"
            >
                <h3 class="mb-4 text-4xl font-semibold text-black">Deluxe Clicks</h3>
                <div class="flex justify-center items-baseline mt-2 mb-6">
                    <span class="mr-2 text-5xl font-extrabold">$799.99</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Up to 4 hr Rental</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Unlimited Instant Photo Prints</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Custom Live Gallery for all <br /> Captures</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Additional Modes: Boomerang or GIF</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Black and White Filter Options</span>
                    </li>
                </ul>
                <a
                    href="#contact"
                    class="text-white cursor-pointer bg-black focus:ring-4 focus:outline-none text-lg rounded-lg px-5 py-2.5 text-center hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100"
                    >Contact here</a
                >
            </div>
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-[url('/bg-2.png')] bg-cover rounded-lg border shadow xl:p-8"
            >
                <h3 class="mb-4 text-4xl font-semibold text-black">Custom Clicks</h3>
                <div class="flex justify-center items-baseline mt-2 mb-6">
                    <span class="mr-2 text-5xl font-extrabold">Add-Ons</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Red Carpet & Stachions - $99.99</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>GLAM Booth - $199.99</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Inflatable Booth - $199.99</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Balloon Backdrop - Enquire Price</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg
                            class="flex-shrink-0 w-5 h-5 text-black"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                                fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path></svg
                        >
                        <span>Survey Options - $49.99</span>
                    </li>
                </ul>
                <a
                    href="#contact"
                    class="text-white cursor-pointer bg-black focus:ring-4 focus:outline-none text-lg rounded-lg px-5 py-2.5 text-center hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 opacity-90 hover:opacity-100"
                    >Contact here</a
                >
            </div>
        </div>
    </div>
</section>
